:root 

{

/*------------------- PROJECT COLOR ROOT----------------------*/



--main-color: #317ff5;
--black-bg: #171717;
--text-color-1: #2e2e2e;
--text-color-2: #2e2e2e;
--text-color-3: #757575;
--text-color-6: #a0a0a0;
--text-color-4: #efefef;
--text-color-5: #ffffff;
--grey-bg: #f4f4f4;
--main-bg: #ffffff;
--border-color: #f7f7f7;



/*------------------- FONT SIZE ROOT----------------------*/
--display-font-size: 80px;
--paragraph-font-size: 16px;
--font-20px-size: 20px;
--font-40px-size: 40px;
--font-18px-size: 18px;


}











/*------------------- GENERAL STYLE----------------------*/

body {
    background-color: var(--main-bg);
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Pacifico", cursive; */
    /* font-family: "Satisfy", cursive; */

    height: 500vh;
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: var(--text-color-1);
}


.container-1 {
    width: 58%;
    max-width: 58%;
    margin-inline: auto;
}


.container-2 {
    width: 87%;
    max-width: 87%;
    margin-inline: auto;
}



/*------------------- FONT STYLE----------------------*/


.paragraph {
    font-size: var(--paragraph-font-size);
    line-height: 160%px;
}








/*------------------- HEADER STYLE----------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* backdrop-filter: blur(5px); */
    z-index: 100;
}


.header-main-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    padding: 17px 5px;
    background-color: var(--main-color);
    border-radius: 4px;
    /* border: 5px solid var(--border-color); */
}


.logo p {
    color: var(--text-color-5);
    font-size: 13px;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--main-bg);
    padding: 11px 11px 11px 30px;
    border-radius: 100px;
}

.menu a {
    color: var(--text-color-3);
    font-size: 16px;
    font-weight: 600;
}

.link-icon22 {
    display: none;
}


.menu a p {
    background-color: var(--main-color);
    padding: 11px 15px;
    border-radius: 100px;
    color: var(--text-color-5);
    font-weight: 600;
    font-size: 14px;
    /* border: 4px solid white; */
    /* outline: 1px solid var(--main-color); */
}





.menu-toggle {
    display: none;
}












/* ------------------------- hero scetion ------------------------------ */

.hero {
    padding: 70px 0;
    width: 100%;
    background-color: var(--grey-bg);
    z-index: 50;
}


.hero-main-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.book-circle {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: var(--main-color);
}


.book {
    display: flex;
    align-items: center;
    gap: 10px;
}

.book p {
    font-size: var(--paragraph-font-size);
    font-weight: 500;
    color: var(--text-color-3);
}


.hero-title {
    display: flex;
    flex-direction: column; 
}

.hero-title p {
    font-size: var(--display-font-size);
    font-weight: 500;
}

.hero-subtitle {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 70%;
    font-size: var(--font-20px-size);
    font-weight: 500;
    line-height: 160%;
}


.hero-subtitle p {
    color: var(--text-color-3);
}

.fancy-t {
    /* font-style: italic; */
    color: var(--main-color);
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 130px;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-5);
    border-radius: 100px;
}


.hero-icon-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-icon-main p {
    color: var(--text-color-6);
    font-size: var(--paragraph-font-size);
}


.hero-icon {
    display: flex;
    align-items: center;
    gap: 2px;
}

.hero-icon i {
    color: var(--main-color);
}









/* ------------------- mobile screen carousel ------------------------ */


.carousel-wrapper {
      position: relative;
      width: 70%;
      height: 600px;
      overflow: hidden;
    }

    .carousel-track {
      display: flex;
      transition: transform 1s ease-in-out;
      align-items: center;
      height: 100%;
    }

    .slide {
      flex: 0 0 270px;
      height: 540px;
      margin: 0 20px;
      transform: scale(0.8);
      opacity: 0.4;
      filter: brightness(0.5) blur(1px);
      transition: all 0.8s ease;
      transform-origin: center;
      border-radius: 20px;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .slide.prev {
      transform: scale(0.75) rotateY(25deg);
    }

    .slide.next {
      transform: scale(0.75) rotateY(-25deg);
    }

    .slide.active {
      transform: scale(1);
      opacity: 1;
      filter: none;
      z-index: 2;
    }

    .slide.active img {
      border-radius: 40px;
    }

    .frame-mask {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 290px;
      height: 540px;
      transform: translate(-50%, -50%);
      border: 13px solid  var(--main-color);
      border-radius: 40px;
      z-index: 5;
      pointer-events: none;
      /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.6); */
    }

    .fade-left, .fade-right {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      z-index: 4;
      pointer-events: none;
    }

    .fade-left {
      left: 0;
      background: linear-gradient(to right, #f4f4f4 0%, transparent 100%);
    }

    .fade-right {
      right: 0;
      background: linear-gradient(to left, #f4f4f4 0%, transparent 100%);
    }






    /* ------------------------------- section 1 -------------------------- */


    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        padding: 100px 0 50px 0;
    }


    .socials-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    
    .social-p {
        font-size: var(--font-40px-size);
        font-weight: 500;
        margin-right: 10px;
        line-height: 140%;
        text-align: center;
    }



    .intsagram-2 {
        width: 45px;
        display: inline-block; 
        transform: rotate(-10deg);
        transition: transform 0.3s ease; 
    }


    .intsagram-2:hover {
        transform: rotate(0deg); 
    }


    .twitter-2 {
        width: 60px;
        display: inline-block; 
        transform: rotate(-10deg);
        transition: transform 0.3s ease; 
    }

    .twitter-2:hover {
        transform: rotate(0deg); 
    }


    .tiktok-2 {
        width: 70px;
        display: inline-block; 
        transform: rotate(10deg);
        transition: transform 0.3s ease; 
        margin-left: 8px;
    }


    .tiktok-2:hover {
        transform: rotate(0deg); 
    }




    .logo-2 {
      animation: shake 1.8s infinite ease-in-out;
    }

    

    @keyframes shake {
      0%, 100% {
        transform: rotate(0deg);
      }
      20% {
        transform: rotate(6deg);
      }
      40% {
        transform: rotate(-7deg);
      }
      60% {
        transform: rotate(3deg);
      }
      80% {
        transform: rotate(-7deg);
      }
    }

    /* Optional: slightly offset timing for variation */
    .logo:nth-child(2) { animation-delay: 0.3s; }
    .logo:nth-child(3) { animation-delay: 0.4s; }
    

   








/* -------------------------- counter-section ---------------------------------- */



    .count-main-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 50px 0;
    }



    .cross-img {
        width: 120px;
    }



    .cross-img img{
        width: 100%;
    }



    .counter-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* gap: 50px; */
        width: 70%;
    }


    .counter-box {
        display: flex;
        align-items: end;
    }


    .count-con-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }



    .counter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .counter-box span {
        color: var(--text-color-6);
        font-size: 80px;
        font-weight: 200;
    }


    .counter-box i {
        color: var(--text-color-6);
        font-size: 60px;
    }

    .counter-container p {
        color: var(--text-color-3);
        font-size: var(--paragraph-font-size);
    }













    /* ----------------------- hard skills --------------------------- */


    .hard-main-skill-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 25px;
        padding: 70px 0;
    }

    .hard-skill-con {
        width: 50%;
        max-width: 50%;
        margin-inline: auto;
        overflow-x: hidden;
        text-align: center;
    }


    .hard-skill-con h2 {
        margin-bottom: 25px;
        font-weight: 100;
    }


    .hard-skill-ani {
        display: flex;
        gap: 10px;
        width: 300vw;
        animation: movingtext 25s linear infinite;
    }


    @keyframes movingtext {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-120vh);
        }
        
    }


    .hard-skill {
        width: 120px;
        background-color: var(--grey-bg);
        padding: 30px;
        border-radius: 20px;
    }


    .hard-skill img {
        width: 100%;
    }




    .btn-con-33 {
        padding: 70px 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

































































































































































/* ------------- Tablet Screen Size --------------------------- */


@media screen and (max-width: 992px) {




:root {


    /*------------------- FONT SIZE ROOT----------------------*/


    --tablet-display-font-size: 60px;
    --tablet-font-20px-size: 20px;

}
    


    
.container-1 {
    width: 75%;
    max-width: 75%;
}



.container-2 {
    width: 90%;
    max-width: 90%;
}






/* ------------------------------ hero section ----------------------------------- */


.hero {
    padding: 100px 0 70px 0;
}


.hero-main-con {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.hero-text {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}



.hero-title {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.hero-title p {
    font-size: var(--tablet-display-font-size);
    font-weight: 500;
}

.hero-subtitle {
    width: 80%;
    text-align: center;
}




.hero-icon-main {
    flex-direction: column;
    gap: 10px;
}





/* -------------------------- counter-section ---------------------------------- */



    .counter-section {
        width: 70%;
    }

    

    .count-con-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }



    .counter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .counter-box span {
        color: var(--text-color-6);
        font-size: 50px;
        font-weight: 200;
    }


    .counter-box i {
        color: var(--text-color-6);
        font-size: 40px;
    }

    .counter-container p {
        color: var(--text-color-3);
        font-size: 12px;
        text-align: center;
    }





    

    /* ----------------------- hard skills --------------------------- */



    
    .hard-main-skill-con {
        flex-direction: column-reverse;
    }


    
    .hard-skill-con {
        width: 80%;
        max-width: 80%;
    }



    .hard-skill {
        width: 90px;
        padding: 20px;
    }



    
    .hard-skill-con h2 {
        margin-bottom: 20px;
        font-weight: 100;
        font-size: 18px;
    }



    
    .btn-con-33 {
        padding: 10px 0 70px 0;
    }














































































    
}






















































































































/* ------------- Tablet Screen Size --------------------------- */

@media screen and (max-width: 768px) {

:root {


    /*------------------- FONT SIZE ROOT----------------------*/

    --mobile-paragraph-font-size: 14px;
    --mobile-display-font-size: 40px;
    --mobile-tablet-font-20px-size: 18px;
    --mobile-font-40px-size: 28px;
    --mobile-font-18px-size: 16px;

}
    




/* --------------------- Header styling ---------------------------- */


   
.container-1 {
    width: 90%;
    max-width: 90%;
}


.menu {
    position: fixed;
    flex-direction: column;
    top: -300px;
    border-radius: 0;
    width: 90%;
    max-width: 90%;
    margin-inline: auto;
    align-items: center;
    padding: 60px 50px 25px 50px;
    border-radius: 20px;
    gap: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    transition: 1s ease;
    opacity: 0;
}

.menu li  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-icon22 {
    display: block;
    font-size: 14px;
}





.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: var(--main-bg);
}



.icon {
    display: none;
    font-size: 30px;
    color: var(--text-color-3);
    
}




/* ------------------------------------------- */


.menu.open {
    top: 90px;
    opacity: 1;
}



.icon.visible {
    display: block;
    transition: 3s ease;
}








/* ------------------------------ hero section ----------------------------------- */


.hero-title p {
    font-size: var(--mobile-display-font-size);
    font-weight: 500;
}

.hero-subtitle {
    width: 90%;
    text-align: center;
}





/* ------------------- mobile screen carousel ------------------------ */


.carousel-wrapper {
      position: relative;
      width: 100%;
      height: 600px;
      overflow: hidden;
    }




.fade-left {
    left: -60px;
    background: linear-gradient(to right, #f4f4f4 0%, transparent 100%);
}

.fade-right {
    right: -60px;
    background: linear-gradient(to left, #f4f4f4 0%, transparent 100%);
}



/* ------------------------------- section 1 -------------------------- */

    
    .social-p {
        font-size: var(--mobile-font-40px-size);
        font-weight: 500;
        margin-right: 10px;
        line-height: 140%;
        text-align: center;
    }






    
/* -------------------------- counter-section ---------------------------------- */



    .counter-section {
        width: 100%;
    }


















}