:root 

{

/*------------------- PROJECT COLOR ROOT----------------------*/



--main-color: #317ff5;
--black-bg: #171717;
--text-color-1: #2e2e2e;
--text-color-2: #2e2e2e;
--text-color-3: #757575;
--text-color-6: #a0a0a0;
--text-color-4: #efefef;
--text-color-5: #ffffff;
--text-color-7: #f3eeee;
--grey-bg: #f4f4f4;
--main-bg: #ffffff;
--border-color: #f7f7f7;



/*------------------- FONT SIZE ROOT----------------------*/
--display-font-size: 70px;
--paragraph-font-size: 16px;
--font-20px-size: 20px;
--font-40px-size: 40px;
--font-18px-size: 18px;


--font-170: 10.625rem;
--font-120: 7.5rem;
--font-100: 6.25rem;
--font-70: 4.375rem;
--font-50: 3.125rem;
--font-60: 3.75rem;
--font-40: 2.5rem;
--font-32: 2rem;
--font-28: 1.75rem;
--font-24: 1.5rem;
--font-20: 1.25rem;
--font-18: 1.125rem;
--font-17: 1.0625rem;
--font-16: 1rem;
--font-14: 0.875rem;
--font-13: 0.712;
--font-12: 0.75rem;
--font-11: 0.6875rem;
--font-10: 0.625rem;
--font-9: 0.5625rem;
--font-8: 0.5rem;






}











/*------------------- GENERAL STYLE----------------------*/


html {
    scroll-behavior: smooth;
}




body {
    background-color: var(--main-bg);
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Pacifico", cursive; */
    /* font-family: "Satisfy", cursive; */

    font-family: "Inter", sans-serif;

    height: 500vh;
    overflow-x: hidden;

    font-size: clamp(1rem, 1.5vw, 1.2rem);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: var(--text-color-1);
}


.container-1 {
    width: 58%;
    max-width: 58%;
    margin-inline: auto;
}


.container-2 {
    width: 87%;
    max-width: 87%;
    margin-inline: auto;
}



/*------------------- FONT STYLE----------------------*/








/*------------------- HEADER STYLE----------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    z-index: 100;
}


.header-main-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    padding: 17px 5px;
    background-color: var(--main-color);
    border: 2px solid white;
    border-radius: 8px;
}


.logo p {
    color: var(--text-color-5);
    font-size: var(--font-12);
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--main-bg);
    padding: 11px 11px 11px 20px;
    border-radius: 100px;
}

.menu a {
    color: var(--text-color-3);
    font-size: var(--font-14);
    font-weight: 600;
}


/* .menu a:hover {
    background-color: var(--main-color);
    padding: 11px 15px;
    border-radius: 100px;
} */

.link-icon22 {
    display: none;
}


.menu a p {
    background-color: var(--main-color);
    padding: 11px 15px;
    border-radius: 100px;
    color: var(--text-color-5);
    font-weight: 600;
    font-size: var(--font-14);
    /* border: 4px solid white; */
    /* outline: 1px solid var(--main-color); */
}


/* 
li a  {
    background-color: var(--main-color);
    padding: 11px 15px;
    border-radius: 100px;
    color: var(--text-color-5);
}



li a:hover  {
    background-color: var(--grey-bg);
    padding: 11px 15px;
    border-radius: 100px;
    color: var(--text-color-5);
} */





.menu-toggle {
    display: none;
}












/* ------------------------- hero scetion ------------------------------ */

.hero {
    padding: 70px 0;
    width: 100%;
    background-color: var(--grey-bg);
    z-index: 50;
}


.hero-main-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.book-circle {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: var(--main-color);
}


.book {
    display: flex;
    align-items: center;
    gap: 10px;
}

.book p {
    font-size: var(--font-16);
    font-weight: 500;
    color: var(--text-color-3);
}


.hero-title {
    display: flex;
    flex-direction: column; 
}

.hero-title p {
    font-size: var(--font-70);
    font-weight: 500;
    line-height: 110%;
}

.hero-subtitle {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 70%;
    font-size: var(--font-20);
    font-weight: 500;
    line-height: 160%;
}


.hero-subtitle p {
    color: var(--text-color-3);
}

.fancy-t {
    /* font-style: italic; */
    color: var(--main-color);
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 130px;
    background-color: var(--main-color);
    font-size: var(--font-20);
    font-weight: 400;
    color: var(--text-color-5);
    border-radius: 100px;
}


.hero-icon-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-icon-main p {
    color: var(--text-color-6);
    font-size: var(--font-16);
}


.hero-icon {
    display: flex;
    align-items: center;
    gap: 2px;
}

.hero-icon i {
    color: var(--main-color);
}









/* ------------------- mobile screen carousel ------------------------ */


.carousel-wrapper {
      position: relative;
      width: 70%;
      height: 600px;
      overflow: hidden;
    }

    .carousel-track {
      display: flex;
      transition: transform 1s ease-in-out;
      align-items: center;
      height: 100%;
    }

    .slide {
      flex: 0 0 270px;
      height: 540px;
      margin: 0 20px;
      transform: scale(0.8);
      opacity: 0.4;
      filter: brightness(0.5) blur(1px);
      transition: all 0.8s ease;
      transform-origin: center;
      border-radius: 20px;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .slide.prev {
      transform: scale(0.75) rotateY(25deg);
    }

    .slide.next {
      transform: scale(0.75) rotateY(-25deg);
    }

    .slide.active {
      transform: scale(1);
      opacity: 1;
      filter: none;
      z-index: 2;
    }

    .slide.active img {
      border-radius: 40px;
    }

    .frame-mask {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 290px;
      height: 540px;
      transform: translate(-50%, -50%);
      border: 13px solid  var(--main-color);
      border-radius: 40px;
      z-index: 5;
      pointer-events: none;
      /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.6); */
    }

    .fade-left, .fade-right {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      z-index: 4;
      pointer-events: none;
    }

    .fade-left {
      left: 0;
      background: linear-gradient(to right, #f4f4f4 0%, transparent 100%);
    }

    .fade-right {
      right: 0;
      background: linear-gradient(to left, #f4f4f4 0%, transparent 100%);
    }






    /* ------------------------------- section 1 -------------------------- */


    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        padding: 100px 0 50px 0;
    }


    .socials-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    
    .social-p {
        font-size: var(--font-32);
        font-weight: 500;
        margin-right: 10px;
        line-height: 140%;
        text-align: center;
    }



    .intsagram-2 {
        width: 45px;
        display: inline-block; 
        transform: rotate(-10deg);
        transition: transform 0.3s ease; 
    }


    .intsagram-2:hover {
        transform: rotate(0deg); 
    }


    .twitter-2 {
        width: 60px;
        display: inline-block; 
        transform: rotate(-10deg);
        transition: transform 0.3s ease; 
    }

    .twitter-2:hover {
        transform: rotate(0deg); 
    }


    .tiktok-2 {
        width: 70px;
        display: inline-block; 
        transform: rotate(10deg);
        transition: transform 0.3s ease; 
        margin-left: 8px;
    }


    .tiktok-2:hover {
        transform: rotate(0deg); 
    }




    .logo-2 {
      animation: shake 1.8s infinite ease-in-out;
    }

    

    @keyframes shake {
      0%, 100% {
        transform: rotate(0deg);
      }
      20% {
        transform: rotate(6deg);
      }
      40% {
        transform: rotate(-7deg);
      }
      60% {
        transform: rotate(3deg);
      }
      80% {
        transform: rotate(-7deg);
      }
    }

    /* Optional: slightly offset timing for variation */
    .logo:nth-child(2) { animation-delay: 0.3s; }
    .logo:nth-child(3) { animation-delay: 0.4s; }
    




    /* --------------------------reflecton styling--------------------- */

    .reflection {
        padding: 10px 0;
    }

    .r-main-con {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .r-con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 80%;
        max-width: 80%;
        margin-inline: auto;
    }


    .r-con-1 {
        display: flex;
        align-items: center;
        gap: 30px;
        width: 100%;
        background-color: var(--grey-bg);
        padding: 9px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
    }



    .r-con-1 p {
        font-size: var(--font-18);
        font-weight: 500;
        line-height: 160%;
    }




    .alin-count {
        display: flex;
        align-items: center;
    }


    .r-con-1:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }

    .box342 .counter, 
    .box342 span {
        color: var(--text-color-6);
    }
    

    .box342 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        background-color: var(--black-bg);
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px rgba(0,0,0,0.3); */
        font-size: var(--font-60);
        font-weight: 500;
        padding: 30px;
    }

    /* Pseudo-element for reflection pass */
    .box342::after {
        content: "";
        position: absolute;
        top: 0;
        left: -50%; /* start outside the left boundary */
        width: 10%; /* width of the moving reflection */
        height: 100%;
        background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.0),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.0)
        );
        transform: skewX(30deg);
        opacity: 0.8;
        animation: pass 3s linear infinite;
        pointer-events: none; /* ensure it doesn't interfere with interactions */
    }

    @keyframes pass {
        0% {
        left: -50%;
        }
        100% {
        left: 150%;
        }
    }





    /* Set different delays for each box using nth-child */
    .reflection .box342:nth-child(1)::after {
        animation-delay: 0s;
    }

    .reflection .box342:nth-child(2)::after {
        animation-delay: 1s; /* delay by 1 second */
    }

    .reflection .box342:nth-child(3)::after {
        animation-delay: 2s; /* delay by 2 seconds */
    }

    .reflection .box342:nth-child(4)::after {
        animation-delay: 3s; /* delay by 3 seconds, can be reset to cycle again */
    }








/* -------------------------- counter-section ---------------------------------- */



    .count-main-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 50px 0;
    }



    .cross-img {
        width: 120px;
    }



    .cross-img img{
        width: 100%;
    }



    .counter-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* gap: 50px; */
        width: 70%;
    }


    .counter-box {
        display: flex;
        align-items: center;
    }


    .count-con-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }



    .counter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .counter-box span {
        color: var(--text-color-6);
        font-size: 100px;
        font-weight: 200;
    }


    .counter-box i {
        color: var(--text-color-6);
        font-size: 60px;
    }

    .counter-container p {
        color: var(--text-color-3);
        font-size: var(--paragraph-font-size);
    }













    /* ----------------------- hard skills --------------------------- */


    .hard-main-skill-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 25px;
        padding: 70px 0;
    }

    .hard-skill-con {
        width: 50%;
        max-width: 50%;
        margin-inline: auto;
        overflow-x: hidden;
        text-align: center;
    }


    .hard-skill-con h2 {
        margin-bottom: 25px;
        font-weight: 400;
        font-size: var(--font-20);
    }


    .hard-skill-ani {
        display: flex;
        gap: 10px;
        width: 300vw;
        animation: movingtext 25s linear infinite;
    }


    @keyframes movingtext {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-120vh);
        }
        
    }


    .hard-skill {
        width: 120px;
        background-color: var(--grey-bg);
        padding: 30px;
        border-radius: 20px;
    }


    .hard-skill img {
        width: 100%;
    }




    .btn-con-33 {
        padding: 70px 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }



    /* -------------------- how con styling ------------------------- */


    .how {
        background-color: var(--grey-bg);
        padding: 80px 0;
    }


    .how-main-con {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .how-detail {
        display: flex;
        flex-direction: column;
    }


    .h2-grey {
        color: var(--text-color-3);
    }
  

    .how-detail p {
        font-size: var(--font-60);
        font-weight: 500;
        line-height: 110%;
    }


    .how-animate {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 60px;
    }


    .how-con-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 380px;
        background-color: var(--main-bg);
        padding: 30px 30px 30px 30px;
        border-radius: 20px;
        border: 10px solid var(--border-color);
    }

    .how-con-1 {
        display: flex;
        gap: 10px;
    }

    .e-width453 {
        width: 47%;
    }

    .how-con-2 h1 {
        font-size: var(--font-100);
        font-weight: 200;
        color: var(--text-color-7);
        font-style: italic;
    }


    .how-con-2 p {
        font-size: var(--font-18);
        font-weight: 400;
        color: var(--text-color-3);
        line-height: 130%;
    }


    .how-con-2 h2 {
        font-size: var(--font-20);
        font-family: 400;
    }

    .how-con-3 {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }



    /* -------------------------------- projects --------------------------- */

    .projects {
        padding: 100px 0;
    }


    .project-main-con {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
    }


    .project-main-con-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    .p-img-con {
        width: 100%;
        /* height: 260px; */
        overflow: hidden; /* Ensures image stays within boundary */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px; /* Rounded corners for the container */
    }

    .p-img-con img {
        width: 100%;
        /* height: 100%; */
        height: auto;
        transition: transform 0.3s ease;
        border-radius: 10px; /* Same as container to ensure uniform rounded edges */
        /* background-size: cover; */
        transform: scale(1.1);
    }


    
    .p-img-con img:hover {
        transform: scale(1.2);
        /* filter: grayscale(10); */
        /* Optional: add a shadow or other effects */
    }



    .p-con-3 {
        position: relative;
        overflow: hidden;
        background-color: var(--grey-bg);
        /* padding: 10px 10px 0 10px; */
        border-radius: 20px;
        transition: 0.2s ease;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    }

    .p-con-3:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Deeper shadow on hover */
        transform: translateY(-10px); /* Slight lift effect on hover */
    }


    


    .p323 {
        position: absolute;
        top: 9px;
        left: 9px;
        color: var(--text-color-7);
        font-size: var(--font-12);
        font-weight: 600;
        padding: 7px 8px;
        border-radius: 15px 8px 8px 8px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.342);
    }


    .project-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: fit-content;
        padding: 0 30px;
        background-color: var(--main-color);
        font-size: var(--font-20);
        font-weight: 400;
        color: var(--text-color-5);
        border-radius: 100px;
    }


    .p-con-3 p {
        font-size: var(--font-20);
        padding: 20px 0 20px 20px;
        font-weight: 500;
    }




    /* Circle styling */
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    backdrop-filter: blur(5px);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #317ff544;
    font-weight: 400;
    font-size: var(--font-14);
    pointer-events: none; /* so it doesn't block mouse events */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
  }

  

  /* Show and animate circle on hover */
  .p-con-3.hover .circle {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }






  /* --------------------my services --------------------------------- */


  .services {
    background-color: var(--grey-bg);
    padding: 200px 0 100px 0;
  }



  .services-main-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .services-main-con h2 {
    position: sticky;
    top: 150px;
    font-weight: 400;
    font-size: var(--font-20);
  }



  .skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 200px 0 0 0;
  }

  .services-main-con h1 {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300px;
    margin-top: 200px;
    font-size: var(--font-70);
    font-weight: 500;
    background-color: var(--main-bg);
    /* padding: 20px 50px; */
    width: 55%;
    height: 130px;
  }




  .ani-p {
    font-size: var(--font-10);
  }














  
/*----------------AUTO ROTATE ON SCROLL------------------*/


/* <div class="auto-rotate"></div> */





.auto-rotate {
  animation: auto-rotate-animation 3s linear forwards 20s;
  animation-timeline: view(70%);
}




@keyframes auto-rotate-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(10deg);
  }
}









.auto-rotate-opposite  {
  animation: auto-rotate-animation-opposite 3s linear forwards 20s;
  animation-timeline: view(70%);
}




@keyframes auto-rotate-animation-opposite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-10deg);
  }
}







































/* ----------------------------------- why me ----------------------------- */

.why-me {
    padding: 100px 0;
    background-color: var(--black-bg);
}


.why-me-main-con {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.why-me-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



.why-icon svg {
    color: var(--main-color);
    padding-top: 3px;
}


.why-con-1 {
    display: flex;
    width: 100%;
    gap: 20px;
}


.why-con-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.why-con-2 h1 {
    font-weight: 500;
    font-size: var(--font-20);
    color: var(--text-color-5);
}



.why-con-2 p {
    font-weight: 500;
    font-size: var(--font-14);
    color: var(--text-color-6);
    line-height: 160%;
}



.why-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: fit-content;
    padding: 0 30px;
    background-color: var(--main-bg);
    font-size: var(--font-20);
    font-weight: 400;
    color: var(--black-bg);
    border-radius: 100px;
}


.convert-1 p {
    color: var(--text-color-4);
}



/* -------------------------------  Testimonials ----------------------------- */

.test {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}



.test-main-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}




.client-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    /* background-color: var(--main-color); */
    padding: 40px;
    border-radius: 20px;
}


.grey11 {
    background-color: var(--grey-bg);
}



.grey11 > p {
    color: var(--text-color-3);
    line-height: 160%;
    font-weight: 500;
    font-size: var(--font-16);
}


.grey11  h1 {
    line-height: 160%;
    font-weight: 500;
    font-size: var(--font-24);
}



.grey11 .c-address-con p {
    color: var(--text-color-3);
    line-height: 160%;
    font-weight: 500;
    font-size: var(--font-16);
}





.blue11 {
    background-color: var(--main-color);
}


.blue11 > p {
    color: var(--text-color-5);
    line-height: 160%;
    font-weight: 500;
    font-size: var(--font-16);
}


.blue11  h1 {
    color: var(--text-color-5);
    line-height: 160%;
    font-weight: 500;
    font-size: var(--font-24);
}



.blue11 .c-address-con p {
    color: var(--text-color-5);
    line-height: 160%;
    font-weight: 500;
    font-size: var(--font-16);
}




.client-con-1 {
    display: flex;
    gap: 10px;
}

.c-address-con {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}


.c-image-con {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 10px;
}


.c-image-con img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    display: block;
    scale: 1.1;
}



/* -------------------------- Faq ------------------------------------ */


.faq {
    padding: 100px 0;
    background-color: var(--grey-bg);
}

.faq-major-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main-heading-con-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.main-heading-con-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.center-heading {
    text-align: center;
}



.faq-main-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 74%;
    max-width: 74%;
    margin-inline: auto;
}


.faq-con-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: var(--main-bg);
    padding: 20px 30px;
    border-radius: 10px;

}

.close {
    display: none;
    transition: 1s ease;
}

.faq-toggle {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.faq-toggle i {
    font-size: var(--font-40);
    font-weight: 100;
}


.faq-toggle h2 {
    font-size: var(--font-20);
    font-weight: 500;
    padding: 0;
    line-height: 160%;
}


.faq-con-1 p {
    font-size: var(--font-16);
    color: var(--text-color-3);
    line-height: 160%;
    font-weight: 500;
}



.angle-down {
    transition: 0.3s ease;
}









/* ------------------------------ choice ------------------------------ */



.choice {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 70px;
}






.choice-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--grey-bg);
    width: 100%;
    height: 450px;
    border-radius: 30px;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


.c-main-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* align-items: center; */
}




.c-con-11 {
    width: 100%;
    background-color: var(--main-bg);
    padding: 20px;
    border-radius: 20px;
}

.choice-details {
    padding: 20px 0;
}


.choice-details p {
    line-height: 160%;
    font-weight: 600;
    font-size: var(--font-16);
    color: var(--text-color-3);
}



.choice-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    border: 4px solid var(--border-color);
    border-radius: 25px;
}



.choice-btn p {
    line-height: 160%;
    font-weight: 500;
    color: var(--text-color-5);
}








.choice-con2 {
    background-color: var(--black-bg);
    height: 500px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}


.c-con-112 {
    background-color: rgba(255, 255, 255, 0.277);
}

.c-con-112 h1 {
    color: var(--text-color-5);
}

.c-con-112 p {
    color: var(--text-color-4);
}


.choice-btn2 {
    border: none;
    background-color: var(--text-color-5);
}


.choice-btn2 p {
    color: black;
}
















.choice-con3 {
    background-color: var(--main-color);
    height: 300px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}


.c-con-113 {
    background-color: var(--main-color);
}


.c-con-113 h1 {
    color: var(--text-color-5);
}

.c-con-113 p {
    color: var(--text-color-4);
}



.choice-btn3 {
    border: 1px;
    background-color: var(--text-color-5);
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.choice-btn3 p {
    color: black;
}



/* ---------------------------------- contact -------------------------------- */

 
.contact {
    background-color: var(--grey-bg);
    padding: 100px 0 40px 0;
}



.contact-major-con {
    display: flex;
    flex-direction: column;
    gap: 80px;
}



.contact-main-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--main-bg);
    height: 120vh;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
}


.contact-con-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background-color: var(--main-color);
    height: 100%;
    border-radius: 15px;
    padding: 30px;
}




.contact-con-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





.contact-con-1 h1 {
    font-size: var(--font-40);
    line-height: 110%;
    font-weight: 500;
    color: var(--text-color-5);
}



.contact-con-1 p {
    font-size: var(--font-18);
    line-height: 160%;
    font-weight: 500;
    color: var(--text-color-7);
}







.c-link {
    display: flex;
    /* align-items: center; */
    gap: 8px;
}

.c-link span {
    font-size: var(--font-14);
    color: var(--text-color-5);
    font-weight: 200;
    transition: 0.3s ease;
}

.c-link:hover a,
.c-link:hover span,
.c-link:hover span svg{
    color: var(--text-color-6);
}


.c-link:hover a {
    padding-left: 8px;
}



.c-link a {
    font-size: var(--font-14);
    color: var(--text-color-5);
    transition: 0.3s ease;
}





.contact-con-4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}






.contact-con-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* background-color: var(--main-color); */
    height: 90%;
    padding: 20px;
}





.contact-input {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}


.contact-input label {
    font-size: var(--font-14);
    font-weight: 500;
    color: var(--text-color-3);
}


.contact-input input {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--grey-bg);
    padding: 15px 15px;
    border-radius: 100px;
    font-size: var(--font-16);
    font-weight: 500;
}


.contact-input input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-6);
}



.contact-input input:focus {
    border-bottom: 1px solid var(--main-color);
}




.contact-input select {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--grey-bg);
    padding: 15px 15px;
    border-radius: 100px;
    font-size: var(--font-16);
    font-weight: 500;
}



.contact-input select:focus {
    border-bottom: 1px solid var(--main-color);
}




.contact-input textarea {
    width: 100%;
    height: 120px;
    outline: none;
    border: none;
    background-color: var(--grey-bg);
    padding: 20px 15px;
    border-radius: 20px;
    font-size: var(--font-16);
    font-weight: 500;
}


.contact-input textarea:focus {
    border-bottom: 1px solid var(--main-color);
}




.contact-input textarea::placeholder {
    font-size: var(--font-16);
    font-weight: 500;
    color: var(--text-color-6);
    line-height: 160%;
}


.contact-con-3 button {
    height: 50px;
    width: fit-content;
    padding: 0 30px;
    font-size: var(--font-16);
    font-weight: 500;
    color: var(--text-color-5);
    background-color: var(--main-color);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}




.contact-con-3 p {
    width: 50%;
    line-height: 160%;
    font-weight: 600;
    color: var(--text-color-3);
    font-size: var(--font-16);
}



/* ---------------------------------- footer ------------------------------- */


footer {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 60px;
    background-color: var(--main-color);
    margin-top: 140px;
    border-radius: 40px;
    padding: 50px;
}


.moving-text {
    font-size: var(--font-120);
    font-weight: 500;
    color: var(--text-color-5);
    height: fit-content;
}

.logo-fit {
    width: fit-content;
    padding: 15px 7px;
}


.logo-fit p {
    font-size: var(--font-10);
}

.footer-main-con {
    display: flex;
}


.footer-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.footer-con h2 {
    font-weight: 600;
    font-size: var(--font-20);
    color: var(--text-color-5);
}




/* 
.adjust-footer {
    height: 40px;
} */


.footer-blur-1 {
    position: absolute;
    top: 60px;
    left: 20px;
    height: 170px;
    width: 80px;
    /* border-radius: 0 200px 200px 0; */
    background-color: var(--main-color);
    filter: blur(10px);
    /* border: 1px solid black; */
}





.footer-blur-2 {
    position: absolute;
    top: 60px;
    right: 20px;
    height: 170px;
    width: 80px;
    /* border-radius: 200px 0 0 200px; */
    background-color:  var(--main-color);
    filter: blur(10px);
    /* border: 1px solid black; */
}




















































































































































































































































































































/* ------------- Tablet Screen Size --------------------------- */


@media screen and (max-width: 992px) {




:root {


    /*------------------- FONT SIZE ROOT----------------------*/


    --tablet-display-font-size: 60px;
    --tablet-font-20px-size: 20px;

}
    


    
.container-1 {
    width: 75%;
    max-width: 75%;
}



.container-2 {
    width: 90%;
    max-width: 90%;
}






/* ------------------------------ hero section ----------------------------------- */


.hero {
    padding: 100px 0 70px 0;
}


.hero-main-con {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.hero-text {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}



.hero-title {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.hero-title p {
    font-size: var(--font-40);
    font-weight: 500;
}

.hero-subtitle {
    width: 100%;
    text-align: center;
}




.hero-icon-main {
    flex-direction: column;
    gap: 10px;
}









/* --------------------------- reflection ---------------------------------- */



.r-con {
    grid-template-columns: repeat(1, 1fr);
}














/* -------------------------- counter-section ---------------------------------- */



    .counter-section {
        width: 70%;
    }

    

    .count-con-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }



    .counter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .counter-box span {
        color: var(--text-color-6);
        font-size: 50px;
        font-weight: 200;
    }


    .counter-box i {
        color: var(--text-color-6);
        font-size: 40px;
    }

    .counter-container p {
        color: var(--text-color-3);
        font-size: 12px;
        line-height: 160%;
        text-align: center;
    }





    

    /* ----------------------- hard skills --------------------------- */



    
    .hard-main-skill-con {
        flex-direction: column-reverse;
    }


    
    .hard-skill-con {
        width: 80%;
        max-width: 80%;
    }



    .hard-skill {
        width: 90px;
        padding: 20px;
    }



    
    .hard-skill-con h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }



    
    .btn-con-33 {
        padding: 10px 0 70px 0;
    }






    
    /* -------------------- how con styling ------------------------- */


    .how-main-con {
        gap: 20px;
    }

    
    .how-animate {
        flex-direction: row;
        overflow-x: auto;
    }

    
    .how-con-2 {
        padding: 30px;
        height: 280px;
        width: 300px;
    }


    
    .how-con-2 h1 {
        font-size: 60px;
    }



    .how-con-3 {
        gap: 10px;
    }


    
    .how-con-3 h2 {
        /* font-size: 20px; */
        font-family: 100;
    }


    
    .how-con-3 p {
        /* font-size: 14px; */
        line-height: 160%;
    }


    .how-detail p {
        font-size: var(--font-40);
    }





      
  /* --------------------my services --------------------------------- */






    .services-main-con h1 {
        font-size: var(--font-40);
        width: 90%;
        height: 100px;
    }








/* ----------------------------------- why me ----------------------------- */

.why-me-con {
    grid-template-columns: repeat(2, 1fr);
}




/* -------------------------------  Testimonials ----------------------------- */




.test-main-con {
    grid-template-columns: repeat(2, 1fr);
}



/* ------------------------- choice -------------------------------- */

.c-main-con {
    grid-template-columns: repeat(2, 1fr);
}






    /* -------------------------------- contact--------------------------- */


        
    .contact-main-con {

        flex-direction: column;
        
        height: fit-content;
        
    }



    /* 
    .contact-con-1 p {
        font-size: 14px;
    } */



    .contact-main-con {
        padding: 20px;
    }


    .contact-con-3 {
        padding: 0;
        gap: 20px;
    }


    .contact-con-4 {
        flex-direction: column;
        gap: 20px;
    }

    .contact-con-1 {
        width: 100%;
        height: 250px;
    }


    .contact-con-1 h1 {
        font-size: var(--font-32);
    }


    .contact-con-3 p {
        width: 100%;
        /* font-size: 14px; */
    }





    /* -------------------------- footer -------------------------- */


    .footer-main-con {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }





    .moving-text {
        font-size: var(--font-70);
    }


        
    .footer-blur-1 {
        top: 10px;
        width: 50px;
    }





    .footer-blur-2 {
        top: 10px;
        width: 50px;
    }
















































































    
}



















































































































































































/* ------------- Tablet Screen Size --------------------------- */

@media screen and (max-width: 768px) {

:root {


    /*------------------- FONT SIZE ROOT----------------------*/

    --mobile-paragraph-font-size: 14px;
    --mobile-display-font-size: 40px;
    --mobile-tablet-font-20px-size: 18px;
    --mobile-font-40px-size: 28px;
    --mobile-font-18px-size: 16px;

}
    




/* --------------------- Header styling ---------------------------- */


   
.container-1 {
    width: 90%;
    max-width: 90%;
}


.menu {
    position: fixed;
    flex-direction: column;
    top: -300px;
    border-radius: 0;
    width: 90%;
    max-width: 90%;
    margin-inline: auto;
    align-items: center;
    padding: 60px 50px 25px 50px;
    border-radius: 20px;
    gap: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    transition: 1s ease;
    opacity: 0;
}

.menu li  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-icon22 {
    display: block;
    font-size: var(--font-16);
    color: var(--text-color-3);
}





.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: var(--main-bg);
}



.icon {
    display: none;
    /* font-size: 30px; */
    color: var(--text-color-3);
    
}




/* ------------------------------------------- */


.menu.open {
    top: 90px;
    opacity: 1;
}



.icon.visible {
    display: block;
    transition: 3s ease;
}








/* ------------------------------ hero section ----------------------------------- */


.hero-title p {
    font-size: var(--font-40);
    font-weight: 500;
}

.hero-subtitle {
    width: 90%;
    text-align: center;
}





/* ------------------- mobile screen carousel ------------------------ */


.carousel-wrapper {
      position: relative;
      width: 100%;
      height: 600px;
      overflow: hidden;
    }




.fade-left {
    left: -60px;
    background: linear-gradient(to right, #f4f4f4 0%, transparent 100%);
}

.fade-right {
    right: -60px;
    background: linear-gradient(to left, #f4f4f4 0%, transparent 100%);
}



/* ------------------------------- section 1 -------------------------- */

    
    .social-p {
        font-size: var(--font-28);
        font-weight: 500;
        margin-right: 10px;
        line-height: 140%;
        text-align: center;
    }





    /* --------------------------- reflection ---------------------------------- */





    .r-con {
        width: 900%;
        max-width: 90%;
    }




    .box342 {
        width: 70px;
        height: 70px;
        font-size: 25px;
        border-radius: 5px;
    }


    .r-con-1 {
        border-radius: 10px;
        padding: 4px;
    }












    
/* -------------------------- counter-section ---------------------------------- */



    .counter-section {
        width: 100%;
    }


    .counter-box span {
        font-weight: 600;
    }



    
    /* ----------------------- hard skills --------------------------- */



    
    .hard-main-skill-con {
        flex-direction: column-reverse;
    }


    
    .hard-skill-con {
        width: 100%;
        max-width: 100%;
    }




    /* -------------------------------- projects --------------------------- */


    .project-main-con-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }


    .p323 {
        color: var(--text-color-7);
        font-size: var(--font-12);
    }


    /* .p-con-3 {
        padding: 0;
    } */


    .p-con-3 p {
        font-size: var(--font-16);
        padding: 15px;
    }

    /* .p-img-con {
        height: 200px;
    } */






  



    /* ----------------------------------- why me ----------------------------- */

    .why-me-con {
        grid-template-columns: repeat(1, 1fr);
    }






    /* -------------------------------  Testimonials ----------------------------- */




    .test-main-con {
        grid-template-columns: repeat(1, 1fr);
    }




    /* ------------------------- faq ---------------------------------- */


    

    .faq-main-con {
        width: 100%;
        max-width: 100%;
    }




    
    .faq-toggle h2 {
        font-size: var(--font-18);
        /* font-weight: 600; */
    }



        
    /* ------------------------- choice -------------------------------- */

    .c-main-con {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }




    /* ------------------------- choice -------------------------------- */

    .contact-con-3 p {
        font-size: var(--font-12);
    }
















}